body
{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    background-color:#FFFFFF;
    color:#000000;
    width: 60em;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto; 
    text-align:justify;
}

body ul{margin:0 0 0 0;padding:0;list-style-type:circle}

h1 {
  font-family: 'Belleza', sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  color:#4863A0;
  text-align:left;
}

h2 {
  font-family: 'Belleza', san-serif;
  display:none;
}

h3 {
  font-family: 'Belleza', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color:#4863A0;
  text-align:left;
}


a:link {color:#151B54; text-decoration: none;}
a:hover {color:#151B54; text-decoration: underline;}
a:visited {color:#151B54;text-decoration: none;}



#tab-container { border: none; margin: 0 0 0 0;}
#tab-container ul { list-style: none; margin: 0 0 30px 0; padding: 0 20px 0 0; float:left; background: #fff; border-right: none; text-align:left;  font-family: 'Belleza', sans-serif; font-size: 20px; color:#4863A0;}
#tab-container ul li { width: 100px; margin-top: 0; padding: 0 0 0 0;}
#tab-container ul li a { display: block; padding: 0 0 0 0; outline: none; }
#tab-container ul li a:hover { text-decoration: underline; }
#tab-container ul li.selected-tab { background: #fff; position: relative; left: 70px; border-style: solid; border-width: 1px 0; }
#tab-container ul li:first-child.selected-tab { border-top: none; }
#tab-container ul li a.selected-tab { font-weight: bold; text-decoration: none; }
#tab-container .panel-container { padding-top: 0px; padding-left: 20px; }

